body{
    background-color: rgb(231, 216, 216);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1 ;
    background-color: rgb(241, 187, 224);
}
footer{
    color:rgb(16, 16, 16);
    background-color: rgb(254, 254, 254);
    position: fixed;bottom: 5%;
    width: 100%;
    
}
.column {
    float: left;
    width: 50%;
    padding: 20;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
    