

.navbar{
    background-color:rgb(231, 216, 216);
    overflow: hidden;
    top: 0%;
}


  .navbar a {
    float: left;
    color: #f9f7f7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover  {
    background-color: #fcfcfc;
    color: rgb(3, 4, 7);
  }
  

  .navbar a.active  {
    background-color: #f7f5f5;
    color: rgb(0, 0, 0);
  }